{% extends "layout.html" %}

{% block content %}
<div id="content">
    <h1>Control Panel</h1>
    <p>This is where the main dashboard widgets will go.</p>
    <ul>
        <li>IP Address:</li>
        <li>Hardware Information</li>
        <p> CPU: {{ computer.cpu }} </p>
        <p> RAM: {{ computer.ram }} </p>
        <p> Storage: {{ computer.storage }} </p>
        <p> Internet Speed: {{ computer.internet_speed }} </p>
        <li>General Information</li>
        <li>News</li>
        <li>Top 7 Users</li>
        <li>Round Info</li>
        <li>FBI Wanted List</li>
        <li>Game News & Announcements</li>
    </ul>
</div>
{% endblock %}