{% extends "layout.html" %}

{% block content %}
<div id="content">
    <h1>Software</h1>


    <h2>Installed Software</h2>

    <table border="1">
        <thead>
            <tr>
                <th>Software Name</th>
                <th>Version</th>
                <th>Size</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for installed in installed_software %}
            <tr>
                <td>{{ installed.software.name }}</td>
                <td>{{ installed.software.version }}</td>
                <td>{{ installed.software.size }} MB</td>
                <td>Info | Run | Delete</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>HDD Usage</h2>
    <p>26 MB / {{ computer.storage }} MB</p>
</div>
{% endblock %}